@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* font-family: "Fredoka One", cursive; */
  /* font-family: "Oswald", sans-serif; */
  font-family: "Roboto", sans-serif;

  background: rgb(195, 14, 14);
  background: radial-gradient(
    circle,
    rgba(195, 14, 14, 1) 0%,
    rgba(0, 0, 0, 1) 90%
  );
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Custom global styles */
html {
}

body {
  background-attachment: fixed;
}
